{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
    .container div {
      width: 250px;
      background-color: antiquewhite;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
    }

    .container img{
      width : 100%;
    }
</style>
{% if article_list %}
<div class="container">
  {% for article in article_list %}
  <a href="{% url 'articleapp:detail' article.pk %}">
    {% include 'articleapp/snippets/card.html' with articel=article %}
  </a>
  {% endfor %}
  <script src="{% static 'js/magicgrid.js' %}"></script>
</div>
{% else %}
<div class="text-center">
  <h1>
    No Articles YET!
  </h1>
</div>
{% endif %}

{% include 'articleapp/snippets/pagination.html' with page_obj=page_obj %}

<div style="text-align: center;">
  <a href="{% url 'articleapp:create' %}" class="btn btn-dark rounded-pill col3 mt-3 mb-7">
    Create Article
  </a>
</div>



{% endblock %}