<div class="pragmatic_header">
    <div>
        <h1 class="pragmatic_logo">Pragmatic</h1>
    </div>
    <div class="prgmatic_header_navbar">
        <a class="prgmatic_header_nav" href="{% url 'articleapp:list' %}">
            <span>Articles</span>
        </a>
        <a class="prgmatic_header_nav" href="{% url 'projectapp:list' %}">
            <span>Project</span>
        </a>
        <a class="prgmatic_header_nav" href="{% url 'subscribeapp:list' %}">
            <span>Subscription</span>
        </a>

        {% if not user.is_authenticated %}
        <a class="prgmatic_header_nav" href="{% url 'accountapp:login' %}?next={{ request.path }}">
            <span>login</span>
        </a>
        <a class="prgmatic_header_nav" href="{% url 'accountapp:create' %}?next={{ request.path }}">
            <span>SignUp</span>
        </a>
        {% else %}
        <a class="prgmatic_header_nav" href="{% url 'accountapp:detail' pk=user.pk %}">
            <span>MyPage</span>
        </a>
        <a class="prgmatic_header_nav" href="{% url 'accountapp:logout' %}?next={% url 'accountapp:login' %}">
            <span>logout</span>
        </a>
        {% endif %}

    </div>
</div>